[submodule "external/ByteMLPerf"]
	path = external/ByteMLPerf
	url = https://github.com/bytedance/ByteMLPerf
[submodule "external/FlagGems"]
	path = external/FlagGems
	url = https://github.com/FlagOpen/FlagGems
